<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acvount.auth.permission.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.acvount.auth.permission.domain.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modify_time" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,remark,
        create_time,modify_time
    </sql>
    <select id="selectRoleNamesByUserId" parameterType="Long" resultType="java.lang.String">
        select role_name
        from role
        where id in (select role_id from role_user where user_id = #{userId})
    </select>
</mapper>
